<section class="intro">
  <div class="container">
    <p class="lead">
      Hi, I'm <strong class="author-name" itemprop="name">Fauzan</strong>, a
      <em itemprop="jobTitle">web engineer</em>.
    </p>
    <div>Blockchain | Web3 (Engineer) | Open Source Enthusiast</div>
    <div class="short-intro">
      I'm an web (1.0 to 3.0) engineer (Javascript/Golang/Solidity), over 4
      years experience in software engineering (mostly in web programming),
      currently learning about blockchain technology and the things. You can
      follow on Twitter
      <a href="https://twitter.com/fncolon/" target="_blank">@fncolon</a>, if
      you want to contact me, you can access
      <a href="/contact" target="_blank">this page.</a>
    </div>

    <a href="/about" class="about-text"
      ><button class="about">More about me</button></a
    >
  </div>
</section>
